<!DOCTYPE html>
<html>

<head>
    <title>Application Form</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <div class="content">
        <div class="header">
            OJT Application Form
        </div>
        <div class="person-info">
            Personal Information
        </div>
        <div class="info clearFix">
            <div class="left-aside">
                <div class="name">Name</div>
                <div class="label">Profile Picture</div>
                <div class="label">Date of Birth</div>
                <div class="label add">Phone</div>
                <div class="label">Email
                </div>
                <div class="label add">Current Address</div>
                <div class="label add">HomeTown Address</div>
            </div>
            <div class="right-aside">
            <%= form_with(url: '/confirm', scope: :session, local: true) do |form| %>

                <div class="bdr">              
                        <%= form.text_field :name , class: 'txt-box' %>                  
                </div>
                <div class="bdr02">                                   
                    <%= form.submit "Upload Photo" , class:'upt-btn' %>
                </div>
                <div class="bdr1">
                    <%= form.text_field :dob , class: 'txt-box' %>                  
                </div>             
                <div id="GFG_DIV">                   
                <div class="bdr03">  
                </div>
                 </div>
                 <div class="bdr03"> 
                    <%= form.text_field :phone , class: 'txt' %>                  
                    <%= form.submit "-" , class:'min-btn' %>
                 </div>
                 <div id="GFG_DIV">
                 <div class="bdr04">   
                   <%= form.text_field :phone , class: 'txt' %>                  
                   <%= form.submit "+" , class:'pls-btn' %>
                 </div>
                 </div>
                <div class="bdr1">
                   <%= form.text_field :email, class: 'txt-box' %>                  
                </div>
                <div class="bdr2">
                   <%= form.text_area :current_add, class: 'txt-area' %>                  
                </div>
                <div class="bdr2">
                <%= form.text_area :home_add, class: 'txt-area' %>                  
                </div>
            </div>
        </div>
        <div class="edu-bdr"></div>
        <div class="edu">
            <p>Education Background</p>
        </div>
        <div class="edu-info clearFix">
            <div class="left-info">
                <div class="edu-lvl">Education Level</div>
                <div class="label">Diploma Name</div>
                <div class="label">Other Certificates</div>
                <div class="label skill">Programming Skill</div>
                <div class="label skill1">Language Skills </div>
            </div>
            <div class="right-info">
                <div class="bch clearFix"><span> Bachelor</span></div>
                <ul class="uni-list">
                    <li class="detail-list"> University</li>
                    <li class="detail-list">Year</li>
                    <li class="detail-list">Degree</li>
                </ul>
                <div class="bch-txt clearFix">
                    <ul>
                        <li>
                        <%= form.text_field :uni, class: 'uni-txt' %>                  

                        </li>
                        <li>
                        <%= form.text_field :year, class: 'uni-txt' %>                  
                        </li>
                        <li>
                        <%= form.text_field :degree, class: 'uni-txt' %>                  
                        </li>
                    </ul>

                </div>
                <div class="bch clearFix"><span> Master</span></div>
                <ul class="uni-list1">
                    <li class="detail-list"> University</li>
                    <li class="detail-list">Year</li>
                    <li class="detail-list">Degree</li>
                </ul>
                <div class="bch-txt clearFix">
                <ul>
                <li>
                <%= form.text_field :uni, class: 'uni-txt' %>                  

                </li>
                <li>
                <%= form.text_field :year, class: 'uni-txt' %>                  
                </li>
                <li>
                <%= form.text_field :degree, class: 'uni-txt' %>                  
                </li>
            </ul>

                </div>
                <div class="bdr3">
                <%= form.text_field :Deploma, class: 'txt-box1' %>                  
                </div>
                <div class="bdr4">
                <%= form.text_field :Other_Certificate, class: 'txt-box2' %>                  
                </div>
                <ul class="uni-list2">
                    <li class="detail-list2"> Language</li>
                    <li class="detail-list2">Level</li>
                </ul>
                <div class="pro-skill clearFix">
                    <ul>
                        <li>
                        <%= form.text_field :Other_Certificate, class: 'uni-txt',value:'Java' %>                                   
                        </li>
                        <li>
                        <%= form.text_field :Other_Certificate, class: 'uni-txt',value:'A' %>                  
                        
                        </li>
                        <li id="GFG_DIV">
                        <%= form.submit "-" , class:'min-btn1' %>       
                        </li>
                    </ul>
                    <ul>
                        <li>
                        <%= form.text_field :Programming_Skill, class: 'uni-txt' %>                                   
                        </li>
                        <li>
                        <%= form.text_field :Programming_Skill, class: 'uni-txt' %>                  
                        
                        </li>
                        <li id="GFG_DIV">
                        <%= form.submit "+" , class:'pls-btn1' %>       
                        </li>
                    </ul>         
                </div>
                <div class="bch clearFix"><span> English</span></div>
                <div class="bdr-lan clearFix">
                    <%= form.text_field :Language_Skill, class: 'lan-txt',value:'Level' %>                  
                </div>
                <div class="bch clearFix"><span> Japan</span></div>
                <div class="bdr-lan clearFix">
                <%= form.text_field :Language_Skill, class: 'lan-txt',value:'Level' %>                  
                </div>
                <div class="bch clearFix"><span>Other</span></div>
                <div class="bdr-lan clearFix">
                <%= form.text_field :Language_Skill, class: 'lan-txt',value:'Level' %>                  
                </div>

            </div>

        </div>

        <div class="edu">
            <p>Experience</p>
        </div>
        <div class="exp clearFix">
            <div class="left-aside">
                <div class="name">Has Job Experience</div>
                <div class="label itn-info">Internship Info</div>
                <div class="label itn-info">Job Experience</div>
                <div class="label">Total Experience Years</div>
                <div class="label itn-info">Comment
                </div>
            </div>
            <div class="right-aside">
                <div class="bdr01">
                    <%= form.check_box :Job %>                  
                </div>
                <div class="bdr2">              
                   <%= form.text_area :Intern_Info, class: 'txt-area' %>                  
                </div>
                <div class="bdr2">
                   <%= form.text_area :Job_Exp, class: 'txt-area' %>                  
               </div>
              <div class="bdr1">
              <%= form.text_field :Total_Exp, class: 'txt-box' %>                  
              </div>
                <div class="bdr2">
                <%= form.text_area :Comment, class: 'txt-area' %>                  
            </div>
            </div>
        </div>
        <footer>
        <div class="btn">
        <%= form.submit "Reset" , class:'btn-res' %>       
         <%= form.submit "Submit" , class:'btn-sub' %>  
        <% end %>
       </div>
       </footer>
    </div>
	<script>
        var up = document.getElementById('GFG_UP');
        var down = document.getElementById('GFG_DOWN');
        var div = document.getElementById('GFG_DIV');
        up.innerHTML = "Click on button to remove the element.";

        function Delete() {
            div.parentNode.removeChild(div);
            down.innerHTML = "Phone No is removed.";
        }       
    </script>
    
</body>

</html>